%h3 About
%p
  Alpha is a projcet developed by Flemming Madsen, also known as leflings
%p
  At creation it was intended to serve as database for my movie collection
  but also as a base application, on which to evolve my Ruby on Rails skills
